{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block styles %}
    {% bootstrap_css %}
    
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="https://fonts.google.com/">

    {% endblock %}
</head>

<body>
    {% include "navbar.html" %}
    {% block content %} {%endblock%}
    {% block script %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>

    <script src="{% static  'js/index.js' %}"></script>
    {% endblock %}
</body>

</html>